[2020-04-18 20:33] curquiza opened #4 "Linter"
We should have a linter so that everyone can easily contribute without messing the code 🙂

Steps:
- [ ] Add and configure the linter
- [ ] Add the command in README in the `Development Workflow` part
- [ ] Add it in GitHub Action to be triggered on each PR

[2020-04-19 20:52] curquiza opened #5 "PHP 7.2"
A user asked us to support PHP 7.2:

<img width="886" alt="Capture d’écran 2020-04-19 à 22 50 49" src="https://user-images.githubusercontent.com/20380692/79699584-b1e99c00-8290-11ea-96a6-cdeaae3eb1e4.png">

What do you think @shokme? 🙂 Is it a huge work?

[2020-04-20 05:28] lkmadushan commented on #5
@curquiza @shokme created a PR for this https://github.com/meilisearch/meilisearch-laravel-scout/pull/6

[2020-04-20 07:01] shokme commented on #5
@curquiza It wasn't a huge work.

@lkmadushan Thank you for the PR :+1:

[2020-04-20 08:19] curquiza commented on #5
Thanks guys 👍

[2020-04-20 08:33] Cannonb4ll opened #7 "Is the where method available?"
Hi,

First of all, great work! 🤩

I wanted to ask if the basic `where()` method the original scout driver offers, is supported in this package as well?

If you read the original docs, it supports a basic where method:

[code]

Docs:
https://laravel.com/docs/7.x/scout#where-clauses

Original method:
https://github.com/laravel/scout/blob/8.x/src/Engines/AlgoliaEngine.php#L156

Thanks!

[2020-04-20 10:07] curquiza commented on #5
Closed with #6

[2020-04-20 10:07] #5 closed, assigned to nobody

[2020-04-20 12:28] shokme commented on #7
Hello @Cannonb4ll,
Thank you !

The basic `where()` is not supported because MeiliSearch looks like to work a bit differently than Algolia.

I will do some R&D later this day, I'll keep you posted.

[2020-04-20 12:50] Cannonb4ll commented on #7
Thank you! I might of be able to look into this soon myself as well and PR this for you.

[2020-04-20 19:00] #7 closed, assigned to nobody

[2020-04-21 07:55] Cannonb4ll opened #10 "Method Laravel\Scout\Builder::limit does not exist."
Hi,

It seems the `limit()` option is not available, if I read the documentation it seems it should be available.

[code]

Returns me with an error:

[code]

Is there something I am missing, or is this method missing from the package?

[2020-04-21 09:07] SamuelNitsche commented on #10
I think the documentation is wrong here. Correct would be the following:
[code]

[2020-04-21 09:08] Cannonb4ll commented on #10
`take()` will work indeed, but does that make actual use of the limit function in the meilisearch API?

https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html#limit

[2020-04-21 09:10] SamuelNitsche commented on #10
I think it is. See [https://github.com/meilisearch/meilisearch-laravel-scout/blob/master/src/Engines/MeilisearchEngine.php#L92](https://github.com/meilisearch/meilisearch-laravel-scout/blob/master/src/Engines/MeilisearchEngine.php#L92)

[2020-04-21 09:11] Cannonb4ll commented on #10
Yeah I have noticed that, then the documentation is indeed not correct I recon.

[2020-04-21 09:46] shokme commented on #10
You have right, my mistake `take()` is the correct one !
And to confirm yes the $builder->limit works has expected when using `take()`

I will update the doc ;)
Thank you!

[2020-04-21 09:49] Cannonb4ll commented on #10
Keep up the awesome work 🚀

[2020-04-21 09:49] #10 closed, assigned to nobody

[2020-04-24 09:53] pet1330 commented on #4
You can quickly automate this step by using [styleci](https://styleci.io/), it is free for opensource

[2020-04-26 02:45] rodrigore opened #16 "Ranking rules and synonim"
Hi! I'm just starting with meilisearch and I was wondering if is possible to change the ranking rules of an index with this package or if I need to make the petition myself to the meilisearch endpoint.

if my dataset is in another language, for example spanish, meilisearch I read that for stopword use some kind of tokenization of latin word, but not sure if the synonim work for Spanish?

I hope th

[2020-04-26 16:19] curquiza commented on #16
Hello @rodrigore! Thanks for using MeiliSearch 😁

You cannot change the settings of MeiliSearch (so, the ranking rules) with this package. But you can do it:
- with the [SDK PHP for MeiliSearch](https://github.com/meilisearch/meilisearch-php) used by this Laraval-Scout package. See [these lines of codes](https://github.com/meilisearch/meilisearch-php/blob/f073e2b658a7089ed00bf8b1dcf6da532fa1306d/s

[2020-04-27 15:54] rodrigore commented on #16
Thank you for the answer, you help me a lot.

I sent a pull request #17 about the steps or methods to update the settings.

About the question that you dont understand, I mean instead of 'Stopwords' It should be 'Typos'.
So the question is that the typos works only for english words or still work for spanish?

Thank you!

[2020-04-27 19:49] curquiza commented on #16
Thanks! I've just answered to your PR 🙂

So the question is that the typos works only for english words or still work for spanish?

The `typo` randking rules is not related to a language, so it will work for spanish words too 🙂
To explain it quickly, if you type `abcdfeg`, MeiliSearch will look for documents containing `abcdfeg` but also documents containing:
- almost the same word by reversing so

[2020-04-27 19:51] rodrigore commented on #16
Nice! thank you for clarifying me.

[2020-04-27 19:51] #16 closed, assigned to curquiza

[2020-05-03 16:50] Cmarenburg opened #19 "Double forward slashes - route generation."
Just curious if anyone is experiencing routes being generate with a double forward slash on requests (ending up within incoming requests to the Meilisearch server like `POST //indexes//documents?primaryKey=id` (taken from the console), it's resulting in 404's not found with the server, when built with the binary.
I'm not really sure where to go from here. When I generate a HTTP request via a rest

[2020-05-05 07:52] curquiza commented on #19
Hello @Cmarenburg!
Is it an issue that you noticed on MeiliSearch (with `curl` for example) or with this laravel package only?

### Edit
I've just tested it, it's a behavior of MeiliSearch.
Could you open an issue on the [MeiliSearch repository](https://github.com/meilisearch/MeiliSearch/issues/new) instead? 🙂

I close this issue since it's not linked to the Laravel SDKs 😉

[2020-05-05 08:00] #19 closed, assigned to nobody

[2020-05-13 10:49] curquiza commented on #4
Thanks for the suggestion @pet1330! 😊

After discussing with the team, we would rather not to use styleCI since it needs to access to our organization content:
<img width="538" alt="Capture d’écran 2020-05-04 à 17 11 01" src="https://user-images.githubusercontent.com/20380692/81803347-d8a99400-9517-11ea-886d-3274f988f697.png">

We are going to install a basic linter like `php-cs-sniffer` (alread

[2020-05-13 17:21] eskombro opened #21 "Add a link in the README to the integration guides"
Related to meilisearch/integration-guides#7

[2020-05-13 17:50] #21 closed, assigned to shokme

[2020-05-25 20:16] ctf0 opened #24 "[question] how to search in related models as well ?"
first many thanx for this tool, its a breeze in compare to others.

i was wondering if there is a way to search in related models as well ? i know its already an issue with scout but maybe meili could have a custom search where we can also search in other indexes and merge the results.

[2020-05-26 07:53] shokme commented on #24
Hello,

This package is just an extension of what scout does and doesn't.

I don't know if scout has a true limitation or if it can be done, do you have a link to the scout issue so I can have more information ?

[2020-05-26 08:14] ctf0 commented on #24
its an old limitation of scout which hasnt been addressed yet, u can check [google](https://www.google.com/search?q=laravel+scout+search+relation&rlz=1C5CHFA_enEG865EG865&oq=laravel+scout+search+&aqs=chrome.1.69i57j35i39j0l3j69i60j69i65j69i60.3991j0j7&sourceid=chrome&ie=UTF-8)

but i was hopping that meili would have the option to search in multiple indexes as atm i cant find anything related to t

[2020-05-26 09:18] curquiza commented on #24
Hello @ctf0!

MeiliSearch cannot search in multiple indexes for the moment. But be sure we are thinking about adding this feature 😉 I'll keep you in touch!

[2020-05-26 09:27] shokme commented on #24
Ok I let this issue open as an enhancement, we will see what we can do in few months

Thank you guys !

[2020-05-30 00:57] flick36 commented on #24
This might come in handy:

- https://github.com/algolia/scout-extended
- https://www.algolia.com/doc/framework-integration/laravel/advanced-use-cases/multiple-models-in-one-index/?language=php

[2020-06-07 08:38] faustbrian opened #28 "Return all results when no term is provided"
Is there currently some way to perform a search with an empty string to simply get all results? Meaning that instead of doing a search we would simply call `getDocuments` and apply all options to that.

[2020-06-07 13:18] shokme commented on #28
There is no way to achieve this.

But as **example** you can create or extends the `Searchable Trait` to add the following method:
[code]

`app(Client::class)` is a singleton.
[code]

I don't know if there is a better way to achieve what you ask, but I hope it helped you :smile:

[2020-06-07 13:21] faustbrian commented on #28
Alright, that's pretty much what I went with in a slightly different way to check if the query is empty or not.

[2020-06-07 13:21] #28 closed, assigned to nobody

[2020-07-10 20:19] isaackearl opened #34 "getTotalCount returns nbHits which doesn't match total count if results have been filtered. This breaks pagination."
Right now using the documented method to get results and paginate, I always end up with alot of extra "pages" in my pagination links because when the LengthAwarePaginator is built, it uses nbHits for the total count of results.  This only works if you are not filtering at all.  Is there any way to work around this other than building my own paginator? Or finding a way to override the getTotalCount

[2020-07-10 22:16] shokme commented on #34
Hello Isaac,
You can see this PR https://github.com/meilisearch/MeiliSearch/pull/541 and linked issues to have a bit more of context.
And for the filtering you can check this one https://github.com/meilisearch/MeiliSearch/issues/764

So, unfortunately I will not accept a PR and wait the fix from Meilisearch 😄

I will checkout later this week-end if this is possible to override the `getTotalCount`

[2020-07-10 22:26] isaackearl commented on #34
@shokme yes absolutely that makes sense.  I can find some workarounds while waiting for a fix.  I didn't realize until the last moment that it is actually a bug/issue for the Meilisearch package.  Thanks!

[2020-07-18 10:45] shokme commented on #34
Hello @isaackearl,
sorry for the delay, do you still need help to override the `getTotalCount()` ?

[2020-07-22 01:49] isaackearl commented on #34
no problem @shokme.  No, I appreciate the offer, but no need.  I have some workarounds in place until I wait for an official fix.  In fact, simply overriding the total count doesn't actually work very well either, because it doesn't take into account the max range (aka limit).  So in other words, there are still scenarios where it breaks pagination.  It looks like there is a fix in the works thoug

[2020-07-22 09:06] #34 closed, assigned to nobody

[2020-07-27 13:14] curquiza commented on #34
Hello @isaackearl!

Did you open an issue on the MeiliSearch repository?

FYI: `nbHits` is the total number of matches, and `hits.length` is the number of the query result (according to the limit you set or set by default).

[2020-08-04 13:59] elfeffe opened #36 "I can't index my documents (they are ok at Algolia)"
I'm using Laravel 7, MS 0.13
I'm trying to index my model using:
`php artisan scout:import "App\Models\Product"
`
Then I do (local_product is my index):
`curl -X GET 'http://localhost:7700/indexes/local_product/documents'
`
And I get `[]`

If I index in Algolia, my documents are ok there.
Also if I index movies doing:
`curl   -X POST 'http://127.0.0.1:7700/indexes/movies/documents'   --data @movie

[2020-08-04 14:45] shokme commented on #36
Hello @elfeffe,

This is hard to help you without more information.

if you log your meilisearch instance did you get:
[code]

If you have use of `toSearchableArray()` in your Product model, can you show me the content, so I might be able to reproduce the same error.

[2020-08-04 17:46] elfeffe commented on #36
I’m using MongoDb. I think the key is _id
Can be that?
I use toSearchableArray to filter some fields, but they index on Algolia. And I dump the final array and it’s ok.
I don’t have the computer now, what do you want me to try?

[2020-08-04 18:13] elfeffe commented on #36
I can't understand what you mean with

Let me know what do you want me to try

[2020-08-04 18:56] elfeffe commented on #36
If I try

`curl \-X POST 'http://localhost:7700/indexes/local_product/documents' \--data '[{"id": 287947,"title": "Shazam","poster": "https://image.tmdb.org/t/p/w1280/xnopI5Xtky18MPhK40cZAGAOVeV.jpg","overview": "A boy is given the ability to become an adult superhero in times of need with a single magic word.","release_date": "2019-03-23"}]'`

I get
`{"updateId":31}`

But then I do
`curl -X GET '

[2020-08-04 19:39] eskombro commented on #36
Hello @elfeffe

You can always check an update status, most of the times MeiliSearch will tell you what the error was, in case the update failed.

You can check: [Get an update status](https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js)

And for the last example you can try

[code]

which should give you more information on what is happening.

[2020-08-04 19:43] shokme commented on #36
When you have created your index `local_product` did you specify the key parameter ?
`php artisan scout:index local_product --key _id`

Can you also try by comment the toSearchableArray(), I don't think this is the problem here, but it cost nothing to try.

[2020-08-05 10:08] elfeffe commented on #36
I have removed toSearchableArray()
Then I have tried doing:
` php artisan scout:index local_product --key _id`
Doesn't work.

Then doing
` php artisan scout:index local_product --key id`
Together with
[code]

Nothing, when I do
`curl -X GET 'http://localhost:7700/indexes/local_product/documents'`

I just get one document, the one indexed using

`curl \-X POST 'http://localhost:7700/indexes/local_p

[2020-08-05 11:48] shokme commented on #36
When you import your data, did you get something like this:
[code]
logs are located `storage/logs/laravel.log`

Did you set queue => true in `scout.php` or SCOUT_QUEUE=true in your .env ?

[2020-08-05 13:13] elfeffe commented on #36
I have tried with both true and false for queues. Always I get

Imported [App\Models\Product] models up to ID: 5eea4b314c80095faf5be593
Imported [App\Models\Product] models up to ID: 5eea4bd94c80095faf5be787
Imported [App\Models\Product] models up to ID: 5eea4cc34c80095faf5be97b
Imported [App\Models\Product] models up to ID: 5eea4dfa4c80095faf5beb6f
Imported [App\Models\Product] models up to ID: 5

[2020-08-05 13:39] shokme commented on #36
Ok, Meilisearch laravel scout is only an engine like a copy paste of the Algolia one. So it shouldn't be a problem but also I have never tried to run it with mongodb...

@eskombro @curquiza  can answer to were are the MS logs.

[2020-08-05 14:41] elfeffe commented on #36
This is related to MongoDB, because Users model is MySQL and works.
I mean, this is related to MongoDB / Meilisearch, because Algolia also work with MongoDB.

It will be great if i can ee some logs from MS, it is sad if Algolia supports it but not Meilisearch.

[2020-08-05 14:43] shokme commented on #36
I can try to dig the problem, but I need your help on how I can install mongoDB with laravel

[2020-08-05 14:46] eskombro commented on #36
As for now, MeiliSearch logs are directly printed to stdout, so it depends on where you are running your MeiliSearch instance. Where is it running?

I opened an issue for discussing persistent logs in MeiliSearch here: https://github.com/meilisearch/MeiliSearch/issues/898

@elfeffe did you check the update status as I suggested in previous comments? If the documents were successfully sent to MeilI

[2020-08-05 14:51] elfeffe commented on #36
Look at this

[code]

That works, but
[code]

"5eea4bd94c80095faf5be787" is a MongoDB _id
That returns this beauty

I think that JSON is valid, there is some problem with MS and custom Key.
I don't know if it's the length, the letters, or what.

[2020-08-05 14:52] elfeffe commented on #36
After some tries I think the letters are the problem, MS doesn't accept letters on the id. But Laravel let you put letters there.
That is the problem I think

[2020-08-05 14:53] eskombro commented on #36
Yes, you just need to send that as a string, surrounded by double quotes

[2020-08-05 14:53] curquiza commented on #36
It will work with `"id": "5eea4bd94c80095faf5be787"` instead of `"id": 5eea4bd94c80095faf5be787` because `5eea4bd94c80095faf5be787` is not a valid number 🙂

[2020-08-05 14:56] elfeffe commented on #36
But I don't control how your Scout extension send it 🙂

[2020-08-05 14:58] elfeffe commented on #36
Even doing this
[code]
It doesn't work, I think this engine must handle string ids

[2020-08-05 14:59] shokme commented on #36
do the same thing in toSearchableArray()

[code]
I don't know what you have set as key

[2020-08-05 15:04] elfeffe commented on #36
[code]
That works

[2020-08-06 07:54] elfeffe commented on #36
One last thing.
Algolia handle's that automatically, together with the index creation.
I mean, Algolia creates the index if doesn't exist, and I can index IDs with letters without any conversion.
I think MS should include both features.

[2020-08-06 08:59] curquiza commented on #36
Indeed, the MeiliSearch API does not handle this feature yet.
As an alternative solution, most of our SDKs provide a `get_or_create_index` method (as the PHP SDK does) 🙂

The problem you had comes from the JSON validity. Even Algolia API does not accept invalid JSON: sending a number with letters without quoting it (`"`) is considered as an invalid JSON and would fail.

See the Algolia dashboard:

[2020-08-06 09:04] elfeffe commented on #36
Yes, in both cases I'm speaking about this Scout Engine, we are in the Scout integration here.
The SDK can provide a method to create the index, but Scout fails if the index doesn't exist.

The same with Id with letters, I understand that JSOn is malformed, but the Scout engine shpuld control that before it fails.
As the Algolia one does, because that one doesn't fail with letters.

[2020-08-06 09:13] curquiza commented on #36
Ok ok wasn't sure to understand 😉

They could be nice features to implement then! 🙂

Edit: we should think if we implement that in the meilisearch-php or in the meilisearch-laravel-scout package.

[2020-08-10 21:31] dmyers opened #37 "Wrong parameters for MeiliSearch\Exceptions\HTTPRequestException"
Started getting this exception after upgrading to the latest version yesterday of this package.

Stacktrace:

[code]

[2020-08-11 13:56] YannickYayo commented on #37
Same issue here, after updating this package i needed to update this code example taken from the **Readme** like below =>
[code]
To
[code]

See the `$meilisearch` parameter, was typed hint to `Meilisearch\Index` before, but now we need to type hint it to `MeiliSearch\Endpoints\Indexes`.

And then i have this issue :
[code]

[2020-08-12 08:39] curquiza commented on #37
Hello guys!

So sorry, the previous release should have been a new minor (`v0.11.0` instead of `v0.10.7`). We did not realize it was breaking! Sorry about that!

@YannickYayo, thanks for the fix! This PR #38 takes into account what you said! Is it enough for you or did I miss something? 🙂

@dmyers, does the fix of @YannickYayo solve your problem?

[2020-08-12 08:40] curquiza commented on #37
@dmyers and @YannickYayo (and @shokme). Another question: do you think we should remove the `v0.10.7` from Packagist and from GitHub and create a new `v0.11.0`? Or just creating a new `v0.11.0` is enough?

[2020-08-12 09:14] YannickYayo commented on #37
Oh i forgot to to mention it, but my little fix doesn't solve the issue with `Wrong parameters for MeiliSearch\Exceptions\HTTPRequestException...` :(
I'll try to debug it and provide feedback.

In my opinion, creating a new `v0.11.0` is enough, may be you can write a warning about the `v0.10.7`.

[2020-08-12 09:58] dmyers commented on #37
Yeah I had already made the same change as @YannickYayo did with the typehint for the index and had this exception occur afterwards.

Sorry accidentally closed by misclick mistake.

Agree w/ @Yannick on the versioning, but I don't really know much about semver or best practices on that stuff to be honest most of my packages are used just by me. 😄

[2020-08-12 10:04] dmyers commented on #37
Btw this won't simply be fixed with #38 because this exception is caused by a recent change from the upstream MeiliSearch PHP dependency that added compatibility with `v0.13`.

https://github.com/meilisearch/meilisearch-laravel-scout/releases/tag/v0.10.7

[2020-08-12 10:57] YannickYayo commented on #37
**Update :**

I was using the `0.12` version of the Meilisearch engine, after upgrading it on docker to the `0.13` and re-indexing my documents, it fixes the issue for me !

[2020-08-12 12:48] curquiza commented on #37
Ok sorry guys, I went to fast, I understand my PR does not fix anything except a small part of the README 😅

So now @YannickYayo, I understand your problem is fixed, right? I've updated the README in #38 according to what you said: meilisearch-laravel-scout v0.10.7 is not compatible with MeiliSearch v0.12.0 and before

@dmyers, I understand your issue is still there despite:
- the change of `Index

[2020-08-12 13:09] YannickYayo commented on #37
@curquiza Yep, using Meilisearch `v0.13.0` fixed my issue :+1:

[2020-08-17 21:12] dmyers commented on #37
I have been using the `v0.13.0` version since before I opened this issue.

I'm still getting this error as of today, but it seems to be caused by the [PHP SDK](https://github.com/meilisearch/meilisearch-php) if my search server instance is down which is happening at random times and only solution is for me to restart it, but it still is not ideal that Meilisearch official PHP SDK doesn't handle pr

[2020-08-18 08:12] curquiza commented on #37
Oh sorry @dmyers, this issue shouldn't have been closed, my bad, it has been done automatically by GitHub because I linked the issue!

Can you provide the part of the code that failed? Because it's currently complicated for us to guess what happened without details. I did not succeed to get your `Error`.
In any case, MeiliSearch should not freeze no matter what you do. A context would be really he

[2020-08-21 09:26] shokme commented on #36
@curquiza
It depends, both are good.

If we implement it in scout I guess the symfony(and others framework implementation) should also implement it (may be it's already the case). So it might be better to have it in the SDK instead ?

I'm not sure scout implement it for Algolia, I think this is handle by the Algolia PHP SDK, I will check this when I have a bit of free time.

[2020-08-21 13:37] #4 closed, assigned to curquiza

[2020-08-21 13:38] curquiza commented on #36
@shokme, you're right, it might be smarter to do it in the PHP SDK rather in the laravel-scout integration.
Let us know about your investigation, I will move the issue (or recreate one) accordingly! 🙂

[2020-08-28 07:42] infostreams opened #40 "I just want to say that this rocks"
That's it. That's the issue.

Meilisearch is awesome. Go tell your colleagues!

[2020-08-29 08:19] #40 closed, assigned to nobody

[2020-08-29 17:58] shokme commented on #36
So, after investigating the whole thing.
I have installed mongodb in laravel using `jenssegers/laravel-mongodb`.

I have started by creating my index.
`php artisan scout:index cars -k _id`

create a model

[code]
creating a new car

[code]
The model was send to meilisearch without any problem !

[code]

When doing a search I get the correct result
[code]
[code]

The only problem I have encounter w

[2020-09-02 08:19] elfeffe commented on #36
@shokme I don’t know. I will resume my work with search in a few days and I will let you know if I find something new.
The SDK should create the index automatically as Algolia does, with the correct I’d, to avoid mistakes.

[2020-09-07 07:29] curquiza commented on #36
It is planned in the MeiliSearch core-engine! 🙂
https://github.com/meilisearch/MeiliSearch/issues/918

[2020-09-10 10:08] dreamcog opened #43 "install error with laravel 7"
when i try to install  meilisearch-laravel-scout with laravel 7
it shows error:
[code]

[2020-09-10 10:12] curquiza commented on #43
Hello @dreamcog!

This issue might be linked to this [issue in meilisearch-php](https://github.com/meilisearch/meilisearch-php/issues/76) and should be fixed soon. Tell me if I misunderstood your problem!

Thanks for your feedback and for trying MeilISearch 😁

[2020-09-10 14:56] dreamcog commented on #43
@curquiza  thanks for your reply.
i read the issue which was been post in meilisearch-php today , i will try to fix it myself :)

[2020-09-10 15:02] curquiza commented on #43
Keep us informed about your fix! :)

[2020-09-13 14:15] #36 closed, assigned to nobody

[2020-09-16 13:30] felixgoldstein commented on #43
same problem here. is there any quick solution?

[2020-09-18 16:52] curquiza commented on #43
Hello @felixgoldstein! Sorry, I don't have any quick solution to provide right now. This PR https://github.com/meilisearch/meilisearch-php/pull/81 (that you might have already seen) will fix this issue. The new release containing this change will be available soon!

[2020-09-18 22:00] ivang11 opened #44 "Missing results"
I have tried with the movies.json example to test with the searches and if I look for the Ready Player One movie it does not find it. I have looked at the movies.json file and I found it, when importing it has been imported without problems.

I've been looking at the documentation but I can't see if the configuration needs to be adjusted, I was just with a project where I have a database with 4866

[2020-09-18 22:07] ivang11 commented on #43
@felixgoldstein I'm using the package with Laravel 7 you just have to use "guzzlehttp / guzzle": "^ 6.3" until this solved meilisearch/meilisearch-php#81

[2020-09-21 01:52] rizalfauzie commented on #43
Make this support for older version of Laravel please.

[2020-09-21 08:56] shokme commented on #44
Hello @IvanG11

It works well on my side.
[code]
`->get()` return results from database where `->raw()` return results from meilisearch.

[2020-09-21 09:20] felixgoldstein commented on #43
@curquiza @IvanG11  i solved the issue for me by creating a fork of meilisearch-php and applying the open pull request on my fork - worked with laravel 8

[2020-09-21 18:29] curquiza opened #46 "Create Wiki pages or any accessible docs"
The purpose of this issue is to provide a Wiki documentation that cannot be written down in the README.
We could add a `How to` section to explain how to handles indexes, synonyms, and other settings even if it's not the first purpose of this package.

(Following this discussion on #45)

[2020-09-22 08:17] curquiza commented on #46
Maybe you can be inspired by [Algolia's docs for their laravel-scout plugin](https://www.algolia.com/doc/framework-integration/laravel/getting-started/introduction-to-scout-extended/?language=php).

[2020-09-22 11:08] ivang11 commented on #44
Thanks for trying it @shokme

I started the movie's example from scratch and now works well, maybe the first time fails something on the import

[2020-09-23 00:11] shokme commented on #46
You can have a look to the wiki, I have added two possible way of handling indexes settings.

[2020-09-23 00:11] #44 closed, assigned to nobody

[2020-09-23 05:24] dreamcog commented on #43
i have solved it with @bensherred 's branch , thanks very much.

1.install the v0.14 melisearch-php
`$ composer require meilisearch/meilisearch-php symfony/http-client nyholm/psr7:^1.0`

2.install the @bensherred meilisearch-laravel-scout branch
`
"repositories": [
        {
            "type"  : "vcs",
            "url"   : "https://github.com/bensherred/meilisearch-laravel-scout.git"
        }

[2020-09-23 05:24] #43 closed, assigned to nobody

[2020-09-23 08:17] curquiza commented on #46
Awesome! 🚀

[2020-09-23 08:32] bensherred commented on #43
Hi @dreamcog, I wouldn't recommend using that approach. Although that's okay for testing the changes, it's not a permanent fix. I have a PR open which will fix this issue and merge my changes into this repo.

[2020-09-23 16:37] curquiza commented on #43
The [v0.12.0](https://github.com/meilisearch/meilisearch-laravel-scout/releases/tag/v0.12.0) is now out and fixes this issue.

[2020-09-26 16:17] JexPY opened #50 "Bug with symfony/http-client"
As you know **symfony/http-client** is required in plenty of packages but it was giving me the error so I removed them to test meilisearch than installed **http/guzzle6-adapter** and everything seems to work ok than I installed the packages that I have removed they installed symfony/http-client and as I guess laravel gives priority to it and I am getting this error again. I have also tried to inst

[2020-09-26 18:13] anatoliy-t7 opened #51 "Error when setup attributesToHighlight"
I did:

[code]

and I got this error:

[code]
![Screenshot](https://user-images.githubusercontent.com/11552252/94347444-d58bec00-0051-11eb-9637-cf699af78d65.png)

[2020-09-27 16:54] shokme commented on #51
try this:
[code]

[2020-09-27 17:10] shokme commented on #50
I have not problem using `symfony/http-client` with `nyholm/psr7`
laravel 6.18.40 and php 7.4.3
be sure to use `"meilisearch/meilisearch-laravel-scout": "^0.12.0"` in your `composer.json`

[2020-09-28 03:07] anatoliy-t7 commented on #51
Thank you for your reply but I get another error.

[code]
I know it happened because I use livewire and I tried to change it to:

[code]
It  gave my:

[code]

![screen](https://user-images.githubusercontent.com/11552252/94386640-ceee9900-0165-11eb-90c8-0a97519da03c.png)

[2020-09-28 10:17] shokme commented on #51
oh yes sorry, indeed I forgot to add an array `$options['attributesToHighlight'] = ['name'];`.
you can use the [documentation](https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html#attributes-to-highlight), the callback content is always the same.

[2020-09-28 12:26] JexPY commented on #50
@shokme Thanks for feedback but I am using ```"meilisearch/meilisearch-laravel-scout": "^0.12.0"```
`"symfony/http-client": "^5.1"
`
and
`"nyholm/psr7": "^1.3"
`
You have the same versions?

[2020-09-28 12:56] shokme commented on #50
yes, everything is the same.

But I do a very simple call
[code]

But as you said:

So I don't think the error come from your call.

[2020-09-28 13:06] JexPY commented on #50
@shokme yes you are right that's not about the call, I have tried several combinations in my project so guzzle 6 with adapter works well, after clearing some packages guzzle 7 started working fine with whole config and mailisearch, but symfony/http-client still stays problem for me. If I will have any solution will write it down. Thanks for your time.

[2020-09-28 13:13] shokme commented on #50
Ok, I'm sorry to not be able to help you further.

perhaps doing some `dd($url)` around `symfony/http-client/HttpClientTrait.php:417` can show you some hints.

[2020-09-28 13:17] anatoliy-t7 commented on #51
Actually I can't get this content with `->get();` only by `->raw();`

[2020-09-28 13:50] shokme commented on #51
Yes, because `->get()` is doing a call in your database, like `select * from table where id in (result from meilisearch)`
and `->raw()` will show you the meilisearch response.
in your case you should use `->raw()` to display the highlighted word.

[2020-09-28 13:53] anatoliy-t7 commented on #51
Thanks for helping me and a good package.

[2020-09-28 13:53] #51 closed, assigned to nobody

[2020-09-28 14:44] JexPY commented on #50
@shokme Still thanks a lot for time and help, the same configuration that we both have gives me hopes that I have something mistaken so I will continue investigation thanks again.

[2020-09-28 15:33] shokme commented on #37
@dmyers an update has been pushed, this should solved the "Wrong parameters".

You must update the package to the version `^0.12`, that will also require you to add an httpclient and factory you can see the detail in the installation instruction from the readme.

[2020-09-28 18:47] rizalfauzie commented on #43
this is not fixed yet on **Laravel 7**

[code]

[2020-09-28 18:58] bensherred commented on #43
@rizalfauzie can you send the contents of your composer.json dependencies?

[2020-09-28 21:20] shokme commented on #43
you probably need to upgrade your version of laravel scout to ^8 (required for meilisearch).

[2020-09-28 23:52] dmyers commented on #37
Thank you so much for the update @shokme. I was still seeing these exceptions in my failed jobs table in my Laravel app, but was finding it difficult to get a reproducible test case to share and so I'm glad you were able to solve it.

I'll test out the new version shortly.

[2020-09-29 16:11] JexPY commented on #50
@shokme So I have found out my problem was with docker configuration and env variable.  I had ```MEILISEARCH_HOST=meilisearch``` in my env that was working perfectly with `guzzle 6,7 ` and `php-http/curl-client`, that was driving me crazy when only `symfony/http-client` was crashing. So I checked `vendor/symfony/http-client/HttpClientTrait.php` source and found our that their `resolveUrl()` was cr

[2020-09-29 16:11] #50 closed, assigned to nobody

[2020-09-29 16:13] curquiza commented on #50
Thanks for your investigation @JexPY! Be sure it will be helpful for users coming after you 👍

[2020-11-03 15:40] Kladislav opened #57 "Guzzle 6"
Hello. How can i use it with guzzle 6 without updating? Can't update right now, project has a lot of dependencies with require guzzle ^6.0.

[2020-11-03 16:45] shokme commented on #57
hello

you just need to install `php-http/guzzle6-adapter`.
You can upgrade without any problem it has been tested on the guzzle 6 version and this is still maintained.

[2020-11-09 09:42] #57 closed, assigned to nobody

[2020-11-09 09:43] Kladislav opened #58 "scout:import on large data (5 million records) taking a lot of time"

[2020-11-09 12:14] shokme commented on #58
@curquiza do you have an idea if it's related to scout or meilisearch, I have never experienced on a such large dataset.

[2020-11-09 13:21] curquiza commented on #58
Hello @Kladislav and @shokme!
This might indeed be linked to MeiliSearch and not to scout.
@Kladislav, can you explain what you mean by "taking a lot of time": do you get any error message? Does the `update` take time to be preccessed? How many times?

[2020-11-10 22:05] Kladislav commented on #58
Idk, no errors, api works fine, but i spend 18 hours and got only 2/5 million records imported, can i speed up it?

[2020-11-11 13:47] shokme commented on #58
If you don't already do it, you can try to run multiple [queue](https://laravel.com/docs/8.x/queues#configuring-supervisor) with scout.

[2020-11-11 15:41] curquiza commented on #58
Hello @Kladislav!
MeiliSearch allows you to send documents by batch. You can increase the size of these batches with this MeiliSearch parameter: https://docs.meilisearch.com/guides/advanced_guides/configuration.html#payload-limit-size.
If you have a huge amount of batches, this leads to a huge indexation time. So, you should increase the number of documents sent per batch to reduce this indexation

[2020-11-14 00:44] Kladislav commented on #58
php artisan scout:import  -c 10000, 5.5 million records in 6 hours, sounds good

[2020-11-17 21:45] vylink opened #60 "Custom pagination with totalCount"
Hi,

I want to use "cursor" pagination with offset and limit.

How can I get the total count of documents in the following example?

[code]

[2020-11-19 12:11] shokme commented on #60
Hello @vylink,

I'm quite busy right now, I can't help you.

But I hope these indication can help you to solve your problem

`$result->get()` will show you the result from database, you should use `$result->raw()` to get the meilisearch response and have access to `nbHits`.

you also can do something like:
[code]
[source](https://github.com/meilisearch/meilisearch-laravel-scout/blob/master/src/Eng

[2020-11-19 14:23] curquiza commented on #60
Hello @shokme! Thanks for your help during your busy time! 🙂

Hi @vylink!
I would add some resources to complete the @shokme answer.
If you are building pagination, I really recommend you checking out this issue we (the Meili team) created to explain how MeiliSearch works with pagination: https://github.com/meilisearch/documentation/issues/561
Indeed `nbHits` (so `getTotalCount`) will not return t

[2020-11-19 14:26] curquiza commented on #58
can I close this issue then @Kladislav? 🙂

[2020-11-24 17:19] nlivingstone opened #62 "heed error; No space left on device: MeiliSearch\Exceptions\HTTPRequestException"
We have a job that updates our product database. While running this job, we keep running into os error 32: heed error; No space left on device.

Have checked diskspace and inode utilization however plenty are available for use. Have updated to the newest version of the meilisearch-laravel-scout client yet the issue still persists.

This issue occurs when updating a database record that uses the se

[2020-11-24 17:35] EloFran opened #63 "Master Key"
Hi all, thx

I need someone to explain to me how I generate the master key and the others, I don't quite understand that part, I'm sorry.

thx

[2020-11-24 17:59] curquiza commented on #63
Hello @EloFran!

You set the master key when running the MeiliSearch instance:

<img width="979" alt="Capture d’écran 2020-11-24 à 18 57 09" src="https://user-images.githubusercontent.com/20380692/100133301-dfca3b00-2e86-11eb-9d88-f8d0e7f5e244.png">

Here I set the master key to `random-key-with-salt`.
But, in production, you should set a more robust master key, like a big random and generated s

[2020-11-24 18:03] shokme commented on #60
@vylink did we resolve your issue ?

[2020-11-24 18:15] vylink commented on #60
Many thanks for your recommendations

[2020-11-24 18:15] #60 closed, assigned to nobody

[2020-11-24 18:37] MarinPostma commented on #62
Hello! What platform are you on?

[2020-11-24 18:53] nlivingstone commented on #62
Hello @MarinPostma

Experiencing this issue on multiple versions of Ubuntu Server

[code]

[code]

[2020-11-24 21:21] MarinPostma commented on #62
Uhmm, is the --db-path set to a path on a disk with sufficient storage? It could also be related to the fact that the db is not able to complete it's transaction while indexing because it's running out of space, what amount of documents are you indexing in one go?

[2020-11-25 11:00] Kladislav commented on #58
@curquiza =)

[2020-11-25 11:00] #58 closed, assigned to nobody

[2020-11-25 13:12] nlivingstone commented on #62
The Meilisearch instance was created using the DigitalOcean image. The --db-path was set to /var/lib/meilisearch/data.ms.

Deleted data.ms, restarted and reimported the documents seems to have fixed the issue. However I'm curious as to how data.ms grew to occupy 55GB. After reimporting the data, am currently sitting at 313 mb

[2020-11-29 23:53] husonghua opened #64 "PHP 8 support"
Hey, will this library add PHP 8 support soon?

[2020-11-30 13:35] shokme commented on #64
Hello @husonghua
I can start looking next week, but feel free to PR 😄

[2020-12-01 11:47] curquiza commented on #62
Hello @nlivingstone!
Great to read this fixes the issue, I close it then! And thanks for your feedback!
If you still encounter this kind of issue, feel free to open an issue in the [MeiliSearch repository](https://github.com/meilisearch/MeiliSearch) (since it's not linked to the laravel plugin) with you detailed steps 🙂

Here are more docs about storage that might help you: https://docs.meilisearc

[2020-12-01 11:47] #62 closed, assigned to curquiza

[2020-12-05 14:27] shokme commented on #64
@husonghua
I need to wait several libraries to be compatible with php 8
[laravel/scout](https://github.com/laravel/scout/pull/425) is waiting algolia https://github.com/algolia/algoliasearch-client-php/pull/644
I also need php-cs-fixer and I will see with the meilisearch-php sdk to support php 8

It will take more time than I thought. I'll update the issue once we are ready :smile:

[2020-12-05 18:08] husonghua commented on #64
No problem. The laravel team mentioned the same thing about Scout and Algolia in their livestreaming.

[2020-12-10 17:54] husonghua commented on #64
Looks like Scout has just updated to 8.5 to support php 8 😄

[2020-12-16 04:22] marky291 commented on #64
+1

[2020-12-18 00:46] marky291 opened #67 "Laravel sail with Meilisearch: write a Wiki page"
Not sure if right place to put this, but since laravel valet is going to be removed in the future.

 I was wondering if this laravel driver supports the usage of laravel sail (dockerized container) https://laravel.com/docs/8.x/sail.

Or if there could be documentation to show how to implement, I have been unable to get this working.

The instance it creates does not get read by **this driver** is

[2020-12-18 14:38] shokme commented on #67
Hello @marky291
Is hard to write how works docker.
But 0.0.0.0:7700 just mean meilisearch bind the port 7700 on your localhost to be available on your machine. (localhost:7700)
here you are in a laravel container, so you don't want to communicate by `port` but by `service`.

If you take a closer look at your `.env` you can see
`DB_HOST=mysql`
`MAIL_HOST=mailhog`
They refer to the service name in y

[2020-12-18 14:46] shokme commented on #67
About the documentation I'm ok to write a wiki page on how to setup with sail. (let's see with @curquiza)
But in my opinion, when you're using laravel sail, if you don't limit yourself to what sail provides:

You should understand how docker works and how to use it.

[2020-12-18 16:15] curquiza commented on #67
Hello @shokme and @marky291!
If it's a wrong usage or a miss understanding of docker or laravel sail I'm not sure this is a priority to add this kind of tutorial. However, if someone would enjoy writing the wiki page, I'm not against at all 😄 Not sure this is your case @shokme haha, so we can wait for another contributor, this tutorial is definitely not an emergency.

[2020-12-18 23:22] marky291 commented on #67
Sorry, I am working through docker on LinkedIn courses for a better understanding of its internals, I was just thinking a documentation with a few lines would be nice to have for those who will run into same issue if any, although I can see why it’s not really the responsibility of this package. Appreciate the replies and @shokme for better understanding of docker, helps greatly. Thanks guys 😁

[2020-12-19 22:14] #64 closed, assigned to nobody

[2020-12-20 20:33] marky291 commented on #67
This worked perfect, only adjustment is the driver requires a protocol, using the following fixed it with the above.
`MEILISEARCH_HOST=http://meilisearch:7700`

[2020-12-21 08:58] curquiza commented on #67
Thanks for your feedback @marky291 and thanks @shokme for having taken the time to answer!
Can I close this issue then?

[2020-12-22 18:17] #67 closed, assigned to shokme

[2020-12-28 20:18] ebess opened #68 "Metadata for search"
Hey guys,

nice package / search engine. Everything seems to work so far but the meta data. How can I access e.g. which fields on the model has been hit by the search to highlight them?

Ty & Greets

[2020-12-29 20:19] shokme commented on #68
Hello,
I'm not sure to understand. But I guess you mean get the meilisearch response back.
[code]
Instead of getting database response you will get the meilisearch [payload response](https://docs.meilisearch.com/references/search.html#response-200-ok)

[2020-12-29 20:38] ebess commented on #68
Well, there is no highlighting by default. I went with something like this:

[code]

Maybe there is a way to pass the search params somehow without overriding the engine?

[2020-12-29 20:41] shokme commented on #68
Oh ok try this instead:
[code]

[2020-12-29 20:45] ebess commented on #68
Ok that sounds reasonable, ty @shokme

[2020-12-29 20:45] #68 closed, assigned to nobody

[2020-12-29 20:46] #63 closed, assigned to nobody

[2021-01-06 17:00] fharper opened #71 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:56] fharper opened #73 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-08 00:09] haexperts2020 commented on #24
Would love to see this implemented since its free/open-souce and runs locally. For now I'll give the Algolia aggregator a try

[2021-01-18 22:49] #73 closed, assigned to nobody

[2021-01-25 07:40] KariUs123 opened #79 "Meilisearch can't import products (Request Entity Too Large)"
I have been trying to import products to the meilisearch and I get this error `MeiliSearch\Exceptions\HTTPRequestException  : Request Entity Too Large` is this because of the latest version of meilisearch and how do I fix this?

`private function parseResponse(ResponseInterface $response)`
      `179|     {`
         `180|         if ($response->getStatusCode() >= 300) {`
        `181|

[2021-01-25 09:14] curquiza commented on #79
Hello, this is not due to MeiliSearch but probably your Nginx -> https://www.cyberciti.biz/faq/linux-unix-bsd-nginx-413-request-entity-too-large/
Also, when you will set up your Nginx to support larger payloads, don't forget to set up also MeiliSearch -> https://docs.meilisearch.com/guides/advanced_guides/configuration.html#options.
Indeed, the payload size limit of MeiliSearch (with the v0.18.0)

[2021-01-25 12:13] #79 closed, assigned to nobody

[2021-01-27 10:47] curquiza opened #81 "Add tests for `search()` method"
If I understand well, we don't have tests for the `search()` method:

https://github.com/meilisearch/meilisearch-laravel-scout/blob/a66ac4cca3ce5de66fa8e5cf0430ec28ac33c14c/src/Engines/MeilisearchEngine.php#L81-L92

We should add tests for this.

Tell me if I'm wrong 🙂

[2021-01-29 13:55] francoism90 opened #87 "Cannot use object of type MeiliSearch\Search\SearchResult as array"
I'm trying to add a custom search as seen in the example:
[code]

This always returns the following error:
[code]

I must be doing something wrong, does it expect to have filters set?

Thanks!

[2021-01-29 14:16] olivM commented on #87
i had the exact same problem this morning
i submitted a PR for it : https://github.com/meilisearch/meilisearch-laravel-scout/pull/86

[2021-01-29 14:24] francoism90 commented on #87
@olivM Thanks for submitting the PR! Will wait for this to be merged/fixed. :)

[2021-01-29 18:35] shokme commented on #81
https://github.com/meilisearch/meilisearch-laravel-scout/blob/36d40eb69c156967c460f7605bd7d9cc63ad0f8f/tests/MeilisearchEngineTest.php#L47-L63
not sure to understand, this one is not enough?

[2021-01-30 09:38] francoism90 commented on #87
[code]
It seems the `$results` isn't always an array. This is a workaround, don't know the actual fix.

[2021-01-30 10:37] mmachatschek commented on #87
@francoism90 this happens when you call `return $meilisearch->search($query, $options);` in your custom search query.

If you call `Model::search()->get()` directly, the `MeilisearchEngine::class` calls the `->rawSearch()` method and therefore returns an array instead of an `SearchResult` object. So the fix for this is calling:

[code]

[2021-01-30 11:59] shokme commented on #87
Hello guys,
Indeed for custom search you should use `->rawSearch()` I will update the doc accordingly.
this package work with `array` a recent change to the php sdk use a `SeachResult` class and I don't think I will change the behaviour soon.

[2021-01-30 12:28] francoism90 commented on #87
@mmachatschek @shokme Thanks! This fixed the issue. :)

Just on question: is it possible to build an query using `->orWhere`? I would to search for multiple terms and receive the data using one query.

[code]

This doesn't seem to return any documents, is this normal? Should you use multiple queries instead?

[2021-01-31 08:33] mmachatschek commented on #87
@francoism90 as far as I can tell, there is no such feature neither in laravel/scout nor in this package. This would be something that should be provided via a macro in your app for your specific usecase

[2021-02-01 09:19] #87 closed, assigned to nobody

[2021-02-01 09:47] curquiza commented on #87
Hello everyone!
Thanks @mmachatschek for your help on this 😄
And I hope @francoism90 and @olivM this fix will solve your issue, I'm going to do a release right now, let me know!

[2021-02-01 09:51] curquiza commented on #81
Maybe I badly understand I was surprised the `tests (PHP ...)` job did not break in this PR (https://github.com/meilisearch/meilisearch-laravel-scout/pull/70) before I changed the `search` into `rawSearch`.
For me, there was a lack of test, but again, maybe I missed something.

[2021-02-01 10:00] curquiza opened #90 "Add not mocked tests"
Hello everyone!

The current mock of the MeiliSearch server makes me a little worried about our tests. I would rather have tests running against a real MeiliSearch server. The goal is to be sure this package works in production against the latest version of MeiliSearch.
Indeed, MeiliSearch and meilisearch-php are not stable yet, and each modification in the MeiliSearch server enforces us to update

[2021-02-01 10:15] curquiza commented on #87
the v0.12.3 is out on Packagist! https://packagist.org/packages/meilisearch/meilisearch-laravel-scout

[2021-02-01 10:24] mmachatschek commented on #90
I'm totally on your side on this @curquiza. Adding the meilisearch service in the CI tests would be a great addition.

At the same point we could split the tests to a structure like `Unit` tests and `Feature` tests. And let the current mocked tests live along.

My changes in #89 added the test coverage output which shows the parts that are untested at the moment. That part could be the start of th

[2021-02-01 10:50] #46 closed, assigned to nobody

[2021-02-01 10:52] curquiza commented on #24
Closing this issue. If you want to be informed about MeiliSearch features here are some links:
- the roadmap: https://roadmap.meilisearch.com/tabs/5-ideas. Feel free to add features or to update the existing ones.
- the MeiliSerach repository to watch PRs and issues: https://github.com/meilisearch/MeiliSearch
- the specs repository of MeiliSearch: https://github.com/meilisearch/specifications/

[2021-02-01 10:53] #24 closed, assigned to nobody

[2021-02-01 10:53] curquiza commented on #37
Hello @dmyers, is this still an issue, can I close it? :)

[2021-02-01 23:54] #37 closed, assigned to nobody

[2021-02-02 17:49] curquiza commented on #90
Ok, then let's do this! This would make our repo safer 💪

[2021-02-03 06:08] mwazovzky opened #94 "meilisearch requests fail in docker after upgrade"
Hello!

I use meilisearch in docker
Laravel 7
meilisearch/meilisearch-laravel-scout: `0.10.7`
guzzlehttp/guzzle: `6.3`

my config
[code]
[code]
Works like a charm. Many thanks!

Now I'm upgrading to Laravel 8, after I update packages to
guzzlehttp/guzzle: `^7.0.1`
meilisearch/meilisearch-laravel-scout: `^0.12`
all requests to meilisearch fail with the message
[code]

Will appreciate any help/ideas

[2021-02-03 07:23] mwazovzky commented on #94
changed config to:
[code]
it works ) sorry for the mess

[2021-02-03 09:11] SimonBarrettACT opened #95 "Paginated search results only return 1 page"
Since updating to 1.2.3 (the issue is also present in 1.2.2. ), all searches using the following code only return 1 page.

Downgrading to 1.2.1 is necessary for the code to work correctly.

[code]

[2021-02-03 10:40] curquiza commented on #95
Hello! That's my fault, it's because I removed the usage of `nbHits` in the code, which is not a trustable value since it's not an exhaustive value. `nbHits` is indeed not reliable for pagination because can be exhaustive or not, depending on the value of `exhaustiveNbHits` that MeiliSearch returns which is always `false` for the moment. So, it worked by chance before my PR.

However my PR makes t

[2021-02-03 10:45] curquiza commented on #94
Hello @mwazovzky! Glad you found out the problem!
Closing this issue then! :)

[2021-02-03 10:45] #94 closed, assigned to nobody

[2021-02-03 10:48] curquiza opened #97 "Remove the usage of nbHits from the code base"
The value `nbHits` returned by MeiliSearch is not a trustable value since it's not an exhaustive value. `nbHits` is indeed not reliable for pagination because can be exhaustive or not, depending on the value of `exhaustiveNbHits` that MeiliSearch returns which is always `false`

We should implement the pagination as described here: https://github.com/meilisearch/documentation/issues/561

------

F

[2021-02-03 14:26] #95 closed, assigned to nobody

[2021-02-03 14:57] curquiza commented on #95
The v0.12.4 should fix this!

[2021-02-04 00:49] robsontenorio opened #99 "[Question] Custom search with where()"
Hi,

I am trying to combine custom search with `where()`.

But the `->where('type_id', 3)` does not take effect

[code]

If i do a simple search it works as expected. But, for sure, i dont get hililght anymore.

[code]

[2021-02-06 12:24] curquiza commented on #99
Hello @robsontenorio!
What is the version of meilisearch-laravel-scout you are using?
Can you check from 0.12.1 and later and tell us when you have this failure? Thanks a lot, it would be really helpful!
https://github.com/meilisearch/meilisearch-laravel-scout/releases

[2021-02-07 14:50] robsontenorio commented on #99
@curquiza

Just  noticed i cant combine other methods like `->take()` with custom search. Is that expected?

docker image: meilisearch:v0.18.1

composer: meilisearch-laravel-scout": "^0.12.4",         "laravel/scout": "^8.6",         "laravel/framework": "^8.12"

[code]

[2021-02-07 17:30] curquiza commented on #99
I don't think this is expected (can you confirm @shokme?)

@robsontenorio, can you check if it works (or not) with previous versions, like the v0.12.1 for example? Thanks!

[2021-02-07 17:46] robsontenorio commented on #99
@curquiza  No lucky at 0.12.1 :( Same issue.

[2021-02-07 18:01] robsontenorio commented on #99
I am sorry! Wrong array syntaxe ... My bad!

Wrong
[code]

Right
[code]

[2021-02-07 18:01] #99 closed, assigned to nobody

[2021-02-11 18:14] #71 closed, assigned to nobody

[2021-02-17 18:53] KariUs123 opened #103 "Instant Search Pagination Not Working"
Instant search pagination is not working, it just returns `undefined` on console which means there is no data after clicking the next page, I have tried [this](https://codesandbox.io/s/ms-is-mese9?fontsize=14&hidenavigation=1&theme=dark&file=/index.html) demo also looks like is not working either does any one know why is this happening or is it because of `nbHits` changes and how can I fix this?

[2021-02-18 15:12] curquiza commented on #103
Hello, your issue is related to instant-meilisearch, and not to the laravel plugin. Transferring the issue.

[2021-02-18 19:29] scottgrayson opened #104 "search()->get() returns a maximum of 20 items"
1. seed many rows to User table
2. import User to scout meilsearch index
3. search for 'a' in meilisearch web UI and note the number of documents
4. search for 'a' in tinker using User::search('a')->get()->count()

Expected:
meilisearch web UI and laravel scout search should return the same number of documents

Problem:
meilisearch returns 23428 results
scout returns 20 results

[2021-02-18 21:57] curquiza commented on #104
Hello @scottgrayson!

The search engine (MeiliSearch) returns 20 results by default, that's why the plugin only returns 20 results.
You might want to increase this limit by setting a new value to the search parameter `limit`.
Our README describes how to do a custom search with search parameters -> https://github.com/meilisearch/meilisearch-laravel-scout#custom-search-

More about search parameters

[2021-02-19 13:58] #104 closed, assigned to nobody

[2021-02-25 09:39] fla opened #105 "A primary key is already present. It's impossible to update it"
New instalation of the latest version of Laravel 8, with one some users in the database.

When running this command:
`php artisan scout:import "App\Models\User"`

The response is:
[code]

Seems like this scout driver is making the post request to `127.0.0.1:63076 "POST /indexes/users/documents?primaryKey=id HTTP/1.1" 400 232 "-" "GuzzleHttp/7" 0.000152` and because the post contains the query para

[2021-02-25 15:44] curquiza commented on #105
Hello @fla

I don't succeed to reproduce the issue you mention on Postman
- push documents with `?primaryKey=id` -> the index is created at the same time the documents are pushed and the primary key `id` is set.
- push other documents with `?primaryKey=id` -> according to what you say, it should raise a `A primary key is already present. It's impossible to update it` error. But it did not for me.

[2021-02-25 19:45] fla commented on #105
You are right, it works with docker so I think the problem is on my setup.
I am using windows10 so I had to build it from source (v0.19.0 not RC). This might be the issue but I can't think of any reason, I'll just use docker for now.

Thank you for helping me figure this out.

[2021-02-25 19:45] #105 closed, assigned to nobody

[2021-03-05 12:44] bsormagec opened #108 "using FacetFilters"
How can i set facet attributes on model? Is there any way known ?

[2021-03-06 08:50] NatBLida68 opened #110 "cant find any good example tutorial ,correct me if iam doing wrong"
With formal knowledge  in  creating custom search engine for one of my project i managed to make it work
idk this is the right way to use it if not please  advise
i have multiple models with one common field row_no in each .
first installed meilisearch  using curl and run on 127.0.0.1:7700   then i added this module using composer and published  and
created indexes and imported all data
from given

[2021-03-06 13:24] curquiza commented on #108
Is this help you -> https://github.com/meilisearch/meilisearch-laravel-scout/wiki/Indexes-settings-using-model?

[2021-03-06 18:40] bsormagec commented on #108
thanks @curquiza

[2021-03-06 19:01] curquiza commented on #108
Can I close this issue?

[2021-03-06 20:51] #108 closed, assigned to nobody

[2021-03-08 15:44] curquiza commented on #110
Hello @NatBLida68!

I'm not sure to really understand your usecase.
Are you using the Laravel Scout extension (= this repo)?
This repos already uses `meilisearch/meilisearch-php` so I'm not sure to get why you don't want to include it. Sorry if I miss something.
If your issue is to update the MeiliSearch settings using this repo, you might want to check this wiki -> https://github.com/meilisearch/

[2021-03-09 05:23] NatBLida68 commented on #110
@curquiza  sorry I'm new here and still learning coding  ,   at first yes I'm using this repo  (the scout extension)   but in my project  i have included  this repo `(meilisearch-laravel-scout)` and `meilisearch/meilisearch-php`  separately  and  for importing data iam using  Searchable trait and  scout:import  this is only where this repo have use .   and then for searching purpose i iam using `M

[2021-03-09 12:57] curquiza commented on #110
No problem, we all are here to learn 😁
This is indeed the right way to search in your index if you use only `meilisearch/meilisearch-php`.
However, if you use `meilisearch-laravel-scout` you can search using this:
- a basic search (to follow you example) -> https://github.com/meilisearch/meilisearch-laravel-scout#search-in-an-index-
- a custom search (what you might want in the future) -> https://

[2021-03-10 19:24] curquiza opened #111 "The future of this repo"
Hello everyone,

With @shokme (the main author of this package) we decided for the plan of this repository to build an integration for Laravel Scout by staying completely compliant/conformed with the [original `laravel/scout` package](https://github.com/laravel/scout).

The goal? To integrate this repository into the official `laravel/scout` package ([as Algolia already is](https://github.com/lara

[2021-03-12 20:23] ibrunotome opened #113 "Delay for index new records"
I think I'm facing this problem https://github.com/meilisearch/MeiliSearch/issues/1098

With artisan command, everything works fast, but for new records saved on database it's taking maybe more than an hour to appears on MeiliSearch web UI.

[edit]

I have two models with Searchable trait: User model and Order model. All new models of User are indexed at same time they are created, but all new mod

[2021-03-15 11:33] NatBLida68 commented on #110
@curquiza   thanks for helping

[2021-03-15 11:33] #110 closed, assigned to nobody

[2021-03-16 00:02] robsontenorio opened #114 "[DX] Easy index configuration"
Hi, thanks for your time!

Just noticed on wiki page some alternative to configure indexes. But i think it adds a extra boilerplate to the project.

Suggestions for simplicity about config meilisearch index:

- Via Model, using a protected property as array representing the “index config”, with same options as described on wiki page.

- Via config/meilisearch.php file, with the same options as des

[2021-03-16 09:46] mikhi opened #115 "Creating index using php artisan not working"
Hi Guys,

Great package so far. I have a small issue: I cannot create an index using artisan command.

I get this error for:  `php artisan scout:index myindexname`
Argument 1 passed to MeiliSearch\Client::__construct() must be of the type string, null given....

I'm using:
Laravel 8
PHP 7.4

Any help would be appreciated!
Thanks,
Mihai

[2021-03-16 10:11] mmachatschek commented on #115
Hi @mikhi,

it looks like you didn't setup the `meilisearch.host` config under `config/meilisearch.php`.

Did you run both commands from the [install instructions](https://github.com/meilisearch/meilisearch-laravel-scout#export-configuration-)?

[2021-03-16 10:17] mmachatschek commented on #114
Hi @robsontenorio,

this is something that would be solved by issue #111. This package aims to provide the same functionallity as the Algolia client provided by [laravel/scout](https://github.com/laravel/scout/blob/8.x/src/Engines/AlgoliaEngine.php). You are right. your suggestions would definitely solve some common uses cases of many users of MeiliSearch

[2021-03-16 10:19] mmachatschek commented on #111
@curquiza
I'm also a fan of this idea. There were already some PRs and issues related to extending this package. Providing a similar package as scout-extended for algolia would make the DX of MeiliSearch much better

[2021-03-16 10:21] mmachatschek commented on #81
@curquiza I think this should be solved or at least be covered by #102

[2021-03-16 10:22] mmachatschek commented on #90
@curquiza can this be closed? what do you think

[2021-03-16 10:30] mikhi commented on #115
Hi @mmachatschek

I followed the instructions.
The MEILISEARCH_HOST  & MEILISEARCH_KEY are set.

Basically any scout command is not working.
![image](https://user-images.githubusercontent.com/1406293/111294553-1fde4500-8653-11eb-9d87-2c61d91fc160.png)

The composer.json file looks like this:
![image](https://user-images.githubusercontent.com/1406293/111294717-47cda880-8653-11eb-89fa-fcc8a00b5064.p

[2021-03-16 10:35] mmachatschek commented on #115
@mikhi ahh I see where the problem is. It looks like you are using the algolia driver of scout.

This should be fixed by setting the SCOUT_DRIVER environment variable. [See the link](https://github.com/meilisearch/meilisearch-laravel-scout#update-the-env-file-)

[2021-03-16 10:39] mikhi commented on #115
I already do that...

in .env file
![image](https://user-images.githubusercontent.com/1406293/111295780-713b0400-8654-11eb-9edb-902724411386.png)

and in scout.php config file
![image](https://user-images.githubusercontent.com/1406293/111295904-93cd1d00-8654-11eb-8371-d924c9508c1d.png)

Somehow remains related with algolia driver and not meili

[2021-03-16 10:43] mmachatschek commented on #115
@mikhi then the only option there could be is that you have config caching active.

Can you try running `php artisan config:clear` if this solves the issue?

[2021-03-16 10:46] mikhi commented on #115
@mmachatschek yes, that was the case. Stupid me..
Thanks allot for your help!

[2021-03-16 10:47] mmachatschek commented on #115
@mikhi happens to the best! Hope you have fun setting everything up :grin:

[2021-03-16 10:47] #115 closed, assigned to nobody

[2021-03-18 12:48] curquiza commented on #114
Hello @robsontenorio!

@mmachatschek perfectly explained the situation, and you're right this is the kind of improvement we would add :)

[2021-03-18 12:54] curquiza commented on #90
Yes sorry, the PR should have closed it automatically! 😇

[2021-03-18 12:54] #90 closed, assigned to nobody

[2021-03-18 12:55] curquiza commented on #81
Yes! :)
If anyone thinks there are missing tests, feel free to open a new issue!

[2021-03-18 12:55] #81 closed, assigned to nobody

[2021-03-18 13:02] curquiza commented on #111
Got it! The first step for me will be to create an issue in the `laravel/scout` repo to check if the maintainers are ok to integrate us.
Once they are ok, we have to do a PR on the `laravel/scout` repo, and I'm not sure the integration team will have time to do it soon...
And finally, once we have been integrated into `laravel/scout` (🤞) we should start thinking (and implementing) about how to imp

[2021-03-18 13:02] curquiza commented on #111
And thanks @mmachatschek for your return!! 😄

[2021-03-19 07:55] mmachatschek commented on #111
@curquiza I already created a branch to add support for meilisearch here https://github.com/mmachatschek/scout/tree/add_meilisearch_support

As soon as you created the issue on the repo in the name of MeiliSearch I'll send in the PR

[2021-03-19 08:02] mmachatschek commented on #111
@curquiza also I think that if the current state of this repo will be merged into laravel/scout this should be deprecated and a new repo should be created.
This package is not tagged as > 1.x and breaking changes can be introduced. But the main purpose of this package (creating a MeiliSearch client for laravel/scout) is not met anymore.

[2021-03-19 11:27] curquiza commented on #111
Thank you so much for your involvement @mmachatschek!! ❤️

I will discuss with the Meili team what to do with this repo next. I'm sad about giving up the most stared repository in the MeiliSearch integrations, even if 400 ⭐️ is not that much 😂  but you're right, it does not fit the first need.

I'll keep you informed.

[2021-03-19 18:33] shokme commented on #111
@mmachatschek you rock :smile:

[2021-03-20 18:24] curquiza commented on #113
Hello @ibrunotome

It looks like it's not a laravel issue but indeed a MeiliSearch one (it seems like you linked the good issue).
Sorry for this, we (the core team in meili) are currently working on a new search engine way more performant. I hope it will solve this issue.
Closing this issue then

[2021-03-20 18:24] #113 closed, assigned to nobody

[2021-03-22 15:19] bsormagec opened #116 "cant use toSearchableArray method"
I can't use toSearhableArray for eager loading. When I use eager loading features index not getting values. Any idea ?

[code]

[2021-03-23 10:47] mmachatschek commented on #116
Hi @bsormagec,

this is not MeiliSearch specific. And more of a laravel/scout issue. You can try to do:

[code]

[2021-03-23 22:25] bsormagec commented on #116
I am checking it send post to meilisearch instance

[code]

but I can't see any record on meilisearch don't understand what is the problem. If I see $this->toArray() it works but when I try to manipulate array key's its not sending values to meilisearch. do you have an idea @mmachatschek

[2021-03-25 11:45] bsormagec commented on #116
I fixed problem and sorry for disturbing :) I forgot to add id field to toSearchableArray Method :) thanks.

[2021-03-25 11:45] #116 closed, assigned to nobody

[2021-03-26 05:18] foreverheavy opened #118 "Include facetsDistribution in paginate() response?"
Loving Meilisearch so far, guys... Only think holding me back from integrating it into our app is a lack of clarity on how to access the extra metadata like facetsDistribution.

I can currently access facetsDistribution by using raw() when executing the query, so my temporary workaround is calling the raw search function, then the traditional paginate query right afterwards. Is there a way to inte

[2021-03-26 16:17] curquiza commented on #118
Hello @foreverheavy!

Thanks for trying MeiliSearch 😄
If I'm correct, we don't provide any possibility like this one for the moment since we want to be totally compliant with the official Laravel/Scout package. See this issue for more details #111.

However, to avoid calling twice the server, you can perform your pagination in a custom search, at the same time as the `facetsDistribution` parameter

[2021-03-26 16:29] curquiza commented on #97
I realize my issue is not really relevant in this repo. The `nbHits` is indeed not relevant (if the query involves a lot of results) but it's currently the only way to be compliant with Laravel/Scout.
Algolia, which implements the search the same way as MeiliSearch, also returns a non-reliable `nbHits` but still uses it in Laravel/Scout:
https://github.com/laravel/scout/blob/78fb3b2e4837ed5d4e4a9f

[2021-03-26 16:29] #97 closed, assigned to nobody

[2021-03-31 09:44] curquiza commented on #111
I've just asked laravel/scout-> https://github.com/laravel/scout/issues/454
🤞

[2021-04-06 07:56] milosevicn opened #122 "Skip searching by ID"
Hello,

When creating `toSearchableArray` for a specific model, if there isn't `ID` included in final array, I can't import the data using `php artisan scout:import "App\Book"`. But if I include `ID`, then it becomes available to search by `ID` also, which is behaviour I would like to escape. What is the right way to disable searching by `ID`?

Example code:
[code]

[2021-04-08 14:44] mmachatschek commented on #122
Hey @milosevicn,

the `->toSearchableArray()` defines the stored data within MeiliSearch for a specific document (object). Omitting the `id` will result in non-discoverable elements within the search because by default the `id` is the primary key used for identifing a document.

To prevent MeiliSearch from searching through  all fields, consider extending the functionallity of this package and set

[2021-04-09 14:06] #122 closed, assigned to nobody

[2021-04-16 15:05] madhavanswami opened #123 "How to deploy and use laravel-scout and Meilisearch to ec2 instance"
I am new to laravel and meilisearch. I know how to deploy meilisearch alone on ec2 but now i want to use laravel with meilisearch.
i am not able to understand how to get the usecase running. Someone please help me.
Thanks

[2021-04-16 15:26] curquiza commented on #123
Hello @madhavanswami!
Welcome to MeiliSearch! 🙂
You should follow the steps in the README -> https://github.com/meilisearch/meilisearch-laravel-scout
I'm moving this issue to meilisearch-laravel-scout

[2021-04-16 16:15] madhavanswami commented on #123
how can i make a connection with laravel which is deployed on ec2 instance with api ?

[2021-04-16 18:19] madhavanswami commented on #123
For a beginner the reference documents seems very intimidating. There are not proper examples to understand. Till the installation and setup part the docs are usable but for the implementation I think there should be more documentation

[2021-04-18 16:49] hope22 opened #124 "Update of existing records"
I have meilisearch working via Laravel Forge on its own dedicated ec2 instance.

Everything works great.

Apart from when a record is updated `via ->save()` eloquent method.

The record on the meilisearch server doesn't change.

I've been checking this via Postman by doing a direct get request to the server and the records just don't update.

I've hit a dead end in my debugging and wondering if an

[2021-04-18 17:00] hope22 commented on #124
Done some digging into the API and seen some of the updates are getting the following error:

[code]

[2021-04-18 17:08] hope22 commented on #124
They seem to be stuck at this status, a few updating every few minutes with a huge backlog.

[code]

[2021-04-19 08:58] curquiza commented on #123
What is intimidating? This would help me to guide you 🙂
If you are a beginner with laravel, you should take a look at the [laravel documentation](https://laravel.com/docs/8.x) first because the integration of MeilISearch for laravel in completely integrated into the laravel environment and this would help you understand our README.

[2021-04-19 11:50] milosevicn opened #125 "Downgrading Meilisearch to version compatible with database"
Runing `meilisearch`returns an error `Cannot open database, expected MeiliSearch engine version: <0.12.0, current engine version: 0.20.0`. Following instructions, I tried downgrading `Meilisearch` to `0.12.0` (I used `brew` to install `meilisearch`):
[code]
I am not able to install specific version of `meilisearch`, only the most recent one.

In docs it is also said `To fix this error, simply dele

[2021-04-19 12:28] milosevicn commented on #125
Okay, `data.ms` is on the same level as `app` folder. Deleting it will let you run `meilisearch`

[2021-04-19 12:28] #125 closed, assigned to nobody

[2021-04-19 12:40] curquiza commented on #124
Hello @hope22!
I see you have more than 10.000 updates, do you send them at the same time? Is one update contain only one document? You should them several documents at the same time, by batches.

[2021-04-19 21:20] hope22 commented on #124
Hey @curquiza.

I have since started batching updates in groups of 2000 which gives me faster results.
My issue seemed to be when single documents were updated they were getting backlogged.

Would be great if there was an API route to clear the black-logged updated then I can just run a fresh import again.

Apart from that, amazing product! Loving it. Well done :)

Can make as resolved.

[2021-04-19 21:20] #124 closed, assigned to nobody

[2021-04-20 08:23] curquiza commented on #124
Hello @hope22!
We are thinking about adding this possibility into MeiliSearch. It will maybe be added some days :)

Thanks for your feedback! Thanks for using MeiliSearch ❤️

[2021-04-20 13:02] milosevicn commented on #122
@mmachatschek Sorry to disturb you, but I didn't want to open new issue for this. It might be related to my question up there.
When I'm adding documents using `php artisan scout:import` command, everything works as it's supposed to, but when I am doing the same using `/indexes/:index_uid/documents` route (`->addDocuments()`) it does not respect `toSearchableArray()` rules. So if I try adding the w

[2021-04-20 17:09] mmachatschek commented on #122
Hi @milosevicn,

this package basically is a wrapper for the MeiliSearch PHP library and extends Laravel Scout.

When adding documents "manually", all the magic that Scout provides e.g. adding new objects to the index or updating existing ones with specific fields etc. gets lost because you skip that steps.

Is there a specific intention you have by adding documents manually?

[2021-04-20 18:26] milosevicn commented on #122
Thanks for replying @mmachatschek

I have multitenancy app -  two separate apps (landlord and tenant). Because of this, I am not able to use predefined Laravel Scout functionality to update docs automatically once something is added to database. That's why I'm using a webhook to inform my tenant app when something happened in database actually on landlord (on created/updated/deleted). I want to ad

[2021-04-21 13:56] keithza opened #126 "Engine uses the eloquent getScoutKey() to get key values but uses getKeyName() to get the name of the key"
Scout allows you to customize the Eloquent value **and** key name used for the keys in your index.

The Meilisearch engine uses the getScoutKey() method to get the key value however, makes use of the getKeyName() method instead of the getScoutKeyName() method for the value.

I would like to change this behaviour to use the getScoutKeyName() method instead of getKeyName(). May I go ahead with a PR?

[2021-04-21 16:07] milosevicn opened #127 "Getting an error when meilisearch service is not run"
When Meilisearch service is not running, after I try creating/updating/deleting something on a model which has `Searchable` inside it's `use`, I am facing this error:
`cURL error 7: Failed to connect to 127.0.0.1 port 7700: Connection refused (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for http://127.0.0.1:7700/indexes/pages_index`

Is there a way to keep `Searchable` in `use` and mak

[2021-04-26 05:10] mmachatschek commented on #127
Hi @milosevicn! This is not a MeiliSearch specific issue. If you know, that the MeiliSearch instance is not running, you can set the `scout.driver` setting in the environment variable to `null`. This loads a so called NULL-driver which basically ensures that everything keeps working fine, but no search results are returned if called.

[2021-04-26 05:10] #127 closed, assigned to nobody

[2021-04-26 06:48] mmachatschek commented on #126
I think that this would not work out as expected.

The `getScoutKeyName()` method is only used for fetching the models from the database not from the search index. It looks to me as if the documentation and the method description on laravel/scout is not correct.

This means that if we change `getKeyName()` to `getScoutKeyName()` in the MeiliSearchEngine class, everyone that uses the library also w

[2021-04-26 06:48] #126 closed, assigned to nobody

[2021-04-26 07:15] mmachatschek commented on #122
@milosevicn I think you could just do a `$model->touch()`. This updates the updated_at column of the model and the `updated` event will be triggered on the tenant app. The Scout event listener will then trigger a update on the index. Would this work out for you?

[2021-04-26 14:45] desaintflorent opened #128 "How to setup a custom timeout for a search ?"
I created a DigitalOcean droplet following your great tutorial, and I'm using it successfully with Laravel 👌

The only problem I have is when the server is down ( stopped manually or CPU at more than 100% ).
I can't find where I could set a short timeout so I could display an error ?
Right now it's loading indefinitely waiting for a response from the dead server.

[2021-04-26 18:13] hi019 commented on #123
Also check out the Laravel Scout docs: https://laravel.com/docs/8.x/scout

[2021-04-27 14:03] jan-krueger opened #131 "paginateRaw() returns wrong amount of total items"
Hello, first up, thank you for this package, but I run into an issue. I have a search interface, and the search itself looks like this:
[code]
I have in total 3 records in the database, so for testing purposes I set the amount of items per page to `2`.

1. When no `$options['fliters']` are applied it works perfectly.
2. When I select a category in the UI that generates a `$options['fliters']` that

[2021-04-27 14:21] jan-krueger commented on #131
I had already looked around a bit but I just found these two issues:
https://github.com/meilisearch/MeiliSearch/issues/1120
https://github.com/meilisearch/documentation/issues/561

Maybe you should consider to throw an error when the user tries to use `paginateRaw` or the in-build pagination methods in general since it doesn't work like officially documented & expected.

[2021-04-27 14:21] #131 closed, assigned to nobody

[2021-04-27 16:09] curquiza commented on #131
Hello @jan-krueger! Sorry for the confusion and the issue! As you found out we are aware of this issue. We have just hired someone as a product owner who will help us improve this kind of feature and remove the confusion around the pagination in the future.

thanks for your feedback 🙂

[2021-04-27 16:21] curquiza commented on #128
Hello @desaintflorent, if I'm not wrong this package does not provide an option to set a timeout. I'm not a laravel user so I cannot provide any workaround with laravel.
If someone knows a workaround, feel free to share it on this issue 🙂

Glad to read you liked the DO tutorial on our docs, we do our best to provide integrations with nice documentation!

[2021-04-27 16:42] hi019 commented on #128
I believe this has to do with the Meilisearch PHP SDK. Try this: https://github.com/meilisearch/meilisearch-php#customize-your-http-client

[2021-04-27 16:47] hi019 commented on #128
I believe this would have to be done at the Meilisearch PHP Client level by passing a custom GuzzleHTTP instance to the client: https://github.com/meilisearch/meilisearch-php#customize-your-http-client

There isn't a way to do this with the currently. Maybe we could allow the user to pass a custom Meilisearch PHP Client in the config

[2021-04-27 16:53] curquiza commented on #128
This would be a great addition. However, according to [this issue](https://github.com/meilisearch/meilisearch-laravel-scout/issues/111) where I explain the context, this repo will not have any new addition that will be not consistent with larvel/scout
We might create a new repo that will be more a meilisearch-laravel-scout-extended plugin, and we will integrate this kind of possibility into it. I

[2021-04-27 18:41] driesvints commented on #111
We've just released Scout v9.0 with Meilisearch support.

[2021-04-27 19:28] shokme commented on #128
Hello @desaintflorent,

I'm not sure this is what you asked for, but based on what @hi019 said, you can override the MeilisearchServiceProvider to use a custom http client.

example:
[code]

[code]
In you `config/app.php`
[code]

Then, you should disable Meilisearch from being auto-discovered by adding the following to your composer.json
[code]

And if I don't miss something you should be good, th

[2021-04-27 19:35] hi019 commented on #128
@shokme you should probably register the provider in app.php instead: https://laravel.com/docs/8.x/providers#registering-providers

[2021-04-28 08:31] shokme commented on #128
Indeed, I took the example from telescope local installation but you are right, I also think this is better.

[2021-04-28 08:43] curquiza commented on #111
Thank you so much @driesvints! 😁 All the Meili team is really excited by this news!

[2021-04-28 09:11] desaintflorent commented on #128
Thank's all for your help !

@shokme your example is working perfectly, I understood your code but It would have taken me lots of time to figure this out :) So thank's a lot for your help.

Juste one thing, when I disable Meilisearch from being auto-discovered I had an error when running a search ( "Driver [meilisearch] not supported." )
But by not disabling it, it's working on my local environmen

[2021-04-28 13:14] driesvints commented on #111
@mmachatschek did the bulk of the work 🙂

[2021-04-28 15:02] robsontenorio opened #134 "Laravel native support announced"
Today has been announced native support for MeiliSearch through Laravel Scout.

So, that means this current package will be deprecated ?

https://twitter.com/driesvints/status/1387120043318779904?s=21

[2021-04-28 18:23] shokme commented on #128
I tried to reproduce your error and the only way was by not extending `\Meilisearch\Scout\MeilisearchServiceProvider` from `App\Providers\MeilisearchServiceProvider`.

But, the code I showed to you is mostly from telescope package. So "dont-discover" will not register the package by default and allow you to load it when needed. **my mistake, you can avoid this**.

Now about `App\Providers\Meilisea

[2021-04-28 18:30] shokme commented on #111
@curquiza So, what's the next step ?
how will we "deprecate" this package ?

[2021-04-29 08:31] keithza commented on #126
@mmachatschek there definitely seems to be an issue with laravel/scout and the documentation as well as the behavior of `getScoutKeyName()` in the laravel/scout code as well. The base method returns the qualified name meaning `<table>.<key>`. This causes issues.

I still feel that this should apply so that using the --key option in the scout:index command can be implemented without the need for im

[2021-04-29 14:41] curquiza commented on #111
@shokme, before doing anything I would like to have your opinion on this: do you think this is better to deprecate this repo and create a new one instead of "transforming" it?

I already have your opinion on this question @mmachatschek 😉 https://github.com/meilisearch/meilisearch-laravel-scout/issues/111#issuecomment-802633375

If anyone has any opinion to share, don't hesitate 🙂

[2021-04-29 14:51] curquiza commented on #134
Hello @robsontenorio, thanks for your interest! ❤️ A discussion is already opened here #111!
Feel free to give your opinion (see this comment https://github.com/meilisearch/meilisearch-laravel-scout/issues/111#issuecomment-829296501) 😁
I close this issue in favor of #111

[2021-04-29 14:51] #134 closed, assigned to nobody

[2021-04-30 15:26] #128 closed, assigned to nobody

[2021-04-30 15:28] shokme commented on #111
Indeed, I think this is better to deprecate this repo and create a new one.

[2021-05-03 08:50] curquiza commented on #111
I will discuss with the Meili team how to do this, and I will come back asap.
FYI, we don't currently have the human resources (at Meili) to create an extended integration for laraval scout (like [this one](https://github.com/algolia/scout-extended)), but the integration in the official laravel/scout should be enough for the moment 🙂

[2021-05-03 18:14] shokme commented on #111
@curquiza I understand. I'm still available to contribute if needed while keeping an eye open on the laravel/scout issues.

[2021-05-07 07:24] barryvdh commented on #131
We are experiencing the same issue when attempting to use pagination together with a filter. The workaround works (take 1000 items, array_slice them) but doesn't feel optimal. It's also not supported by the default pagination in this package (or laravel/scout). Maybe the implementation can be fixed to use array_slice or another workaround when filters are present?

Or is it expected that offset/li

[2021-05-10 16:08] curquiza commented on #131
If you mean soon like "next month", it will not. The core team is currently working hard on a huge refactor that might be released during the summer. Once this release is done, the pagination will be the first prioritization. So it will be improved by the end of the year 🙂
As you said the `array_slice` work-around is not optimal either. However if you have a fork of this repo (or laravel/scout) wi

[2021-05-10 20:13] tfmm opened #137 "One Model not importing"
I have 3 models that need to be searchable.  2 of the 3 imported just fine using `scout:import`.  The third model appears to work, and shows that my 500+ items were imported, but when checking the contents of the index, it is empty.

I'm new to using meilisearch, so I may be missing something, but I can't find any logs showing errors or anything like that.

My Melisearch is running in Docker on a

[2021-05-11 10:50] curquiza commented on #137
Hello @tfmm,

Can you check all the updates were correctly processed with this route: https://docs.meilisearch.com/reference/api/updates.html#get-all-update-status

[2021-05-11 11:52] tfmm commented on #137
So, just to double check everything, I created a new meilisearch container and attempted to index everything fresh, and now this model is not creating the index at all, but the others are working.

It is possible I manually created the index previously when I was testing things, so the scout:import may never have created the index for this model.

The other 2 models are still working on the new in

[2021-05-11 15:25] tfmm commented on #137
I discovered and resolved the issue.  This model was not feeding the `id` into the searchableArray.  After adding that in, this is now working. Closing this.

[2021-05-11 15:25] #137 closed, assigned to nobody

[2021-05-12 17:09] #123 closed, assigned to nobody

[2021-05-12 17:09] #114 closed, assigned to nobody

[2021-05-12 17:10] #118 closed, assigned to nobody

[2021-05-12 17:24] curquiza commented on #111
We have officially decided to deprecate this repo. I'm closing this issue and I open this one! I'm going to archive this repo 🙂
Thank you everyone for your help, we are lucky to have a community as involved as you are ❤️

[2021-05-12 17:24] #111 closed, assigned to nobody